/* SETTINGS */
@import "variables";
/* handle dimensions */
$ngrs-handleWidth: 6px;
$ngrs-handleHeight: 18px;
/* thickness of the join line */
$ngrs-joinWeight: 4px;
/* padding between the border and the handles */
$ngrs-padding: 0;
/* define the height of the slider when in vertical mode */
$ngrs-verticalHeight: 300px;

/* THE CSS */
.ngrs-range-slider {
  /* RESETS */
  &, * {
    display: block;
    cursor: default;
    box-sizing: border-box;
    user-select: none;
  }
  position: relative;
  margin: 10px 0 20px 30px;
  padding: $ngrs-padding;
  //border: 1px solid $blue-500;
  border: 0;
  background: $white;
  transition: border linear .2s;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  /* RUNNER */
  .ngrs-runner {
    position: relative;
    margin: 0 $ngrs-handleWidth / 2;
    height: $ngrs-handleHeight;
    &:after {
      content: " ";
      position: absolute;
      z-index: 0;
      top: 50%;
      left: 0;
      right: 100%;
      width: 100%;
      height: $ngrs-joinWeight;
      margin: (-$ngrs-joinWeight / 2) 0 0 0;
      background-color: $grey-400;
    }
  }
  /* JOIN (connects the two handles) */
  .ngrs-join {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    right: 100%;
    height: $ngrs-joinWeight;
    margin: (-$ngrs-joinWeight / 2) 0 0 0;
    border-radius: $ngrs-joinWeight / 2;
    background: linear-gradient(90deg, $pink-200, $pink-700);
  }
  /* BAR (horizontal plank behind join ) */
  .ngrs-bar {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    right: 100%;
    height: $ngrs-joinWeight;
    margin: (-$ngrs-joinWeight / 2) 0 0 0;
    background-color: $grey-200;
  }
  /* HANDLE */
  .ngrs-handle {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: $ngrs-handleWidth;
    margin: 0 0 0 (-$ngrs-handleWidth / 2);
    border-radius: 0;
    i {
      display: none;
    }
    &.ngrs-handle-min {
      background-color: $pink-200;
      border: 1px solid $pink-200;
    }
    &.ngrs-handle-max {
      background-color: $pink-700;
      border: 1px solid $pink-700;
    }
  }
  /* VALUE LABELS */
  .ngrs-value {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 5px 0 0 0;
    font-size: 12px;
    color: #999;

    &.ngrs-value-max {
      left: auto;
      right: 0;
      text-align: right;
    }
  }
  &.ngrs-handle-min-down .ngrs-value-min,
  &.ngrs-handle-max-down .ngrs-value-max {
    color: #333;
  }
  /* ATTACHED VALUE RUNNER */
  .ngrs-attached-handles {
    margin: 0 9px;
    position: relative;
    /* ATTACHED VALUE RUNNER LABELS */
    .ngrs-value {
      text-align: left;
    }
    .ngrs-value > div {
      margin: 0 0 0 -50%;
    }
  }
  /* FOCUS STATE */
  &.ngrs-focus {
    border-color: rgba(82, 168, 236, 0.8);
  }
  /* DISABLED STATE */
  &.ngrs-disabled {
    &, &.ngrs-focus {
      // make sure the focus state is not used
      border-color: #ddd;
    }
    .ngrs-handle {
      background: #fff;
      border-color: #ddd;
      i {
        background: none !important;
        cursor: default;
      }
    }
    .ngrs-join {
      background: #ddd;
    }
    .ngrs-value {
      color: #ddd;
    }
  }
}
/* TOUCH STATE */
body.ngrs-touching {
  /* prevents the user from panning or zooming while they are using the slider */
  -ms-touch-action: none;
}